.square {
  width: 5rem;
  height: 5rem;
  box-shadow: -8px 8px 21px -4px rgba(66, 68, 90, 1);
  -webkit-box-shadow: -8px 8px 21px -4px rgba(66, 68, 90, 1);
  -moz-box-shadow: -8px 8px 21px -4px rgba(66, 68, 90, 1);
}
